{lib_dirs,			["deps"]}.
{sub_dirs,["rel"]}.
{deps_dir,            ["deps"]}.
{require_otp_vsn,     "R1[456]|17|18"}.
{erl_opts,            [ debug_info
		]}.
{xref_warnings,       false}.
{xref_checks,         [undefined_function_calls]}.
{eunit_opts,          [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{dialyzer_opts,       [{warnings,
	[ error_handling
		, race_conditions
		, behaviours
		]}
	]}.
{clean_files,         [".eunit", "ebin/*.beam", "test/*.beam"]}.

{deps, [
    {cowboy,".*",{git,"git@github.com:ninenines/cowboy.git",{tag,"1.0.4"}}},
	{jiffy, ".*", {git,"git@github.com:davisp/jiffy.git" ,{tag,"0.14.8"}}}
	]}.

{port_specs, [
    {"priv/jiffy.so", [
        "c_src/*.c",
        "c_src/*.cc",
        "c_src/double-conversion/*.cc"
    ]}
]}.

{port_env, [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CFLAGS", "$CFLAGS -Ic_src/ -g -Wall -Werror -O3 -fno-strict-aliasing"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CXXFLAGS", "$CXXFLAGS -Ic_src/ -g -Wall -Werror -O3"},

    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS -lstdc++"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"},

    %% This will merge into basho/rebar/rebar.config eventually
    {"win32", "CFLAGS", "/Wall /DWIN32 /D_WINDOWS /D_WIN32 /DWINDOWS"},
    {"win32", "CXXFLAGS", "-Ic_src/ -g -Wall -O3"}
]}.