{sub_dirs,["apps/doc_example"]}.
{lib_dirs,			["apps","deps"]}.
{deps_dir,            ["deps"]}.
{require_otp_vsn,     "R1[456]|17|18"}.
{erl_opts,            [ debug_info
		]}.
{xref_warnings,       false}.
{xref_checks,         [undefined_function_calls]}.
{eunit_opts,          [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{dialyzer_opts,       [{warnings,
	[ error_handling
		, race_conditions
		, behaviours
		]}
	]}.
{clean_files,         [".eunit", "ebin/*.beam", "test/*.beam"]}.

{deps, [
    {cowboy,".*",{git,"git@github.com:ninenines/cowboy.git",{branch, "1.1.x"}}},
    {rest_edoc,".*",{git,"git@github.com:DLive/rest-edoc.git",{branch,"master"}}}
    ]}.
{plugins, [rest_edoc]}.

{redoc_opts,[
    {target_dir,{doc_example,"priv"}}
]}.